.setting-ul {
    padding-left: 10%;
    padding-right: 10%;
    list-style-type: none;
}
.setting-ul .setting-li {
    margin-top: 2rem;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
}
.setting-ul .setting-li .input-img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.setting-ul .setting-li #responsive-userIcon {
    width: 10rem;
    height: 10rem;
    position: absolute;
    z-index: -1;
}
.setting-ul .setting-li #responsive-userBanner {
    width: 66.6rem;
    height: 10rem;
    position: absolute;
    z-index: -1;
}
.setting-ul .setting-li .input-img + label {
    cursor: pointer;
    opacity: 0.8;
    margin-left: 1rem;
    margin-top: 7rem;
    padding: 0.1rem;
    background: black;
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
}
.setting-ul .setting-li .bio-text {
    resize: none;
    height: 6rem;
    width: 30rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.setting-ul .setting-li .input-text {
    width: 30rem;
}

