.App-header-left {
    position: relative;
    top: 0.8rem;
    padding-left: 1rem;
}
.App-header-right {
    position: relative;
    top: 0.8rem;
    padding-right: 1rem;
}

.selector-contaienr {
    margin-top: -0.3rem;
}

.user-name {
    display: inline-block;
    vertical-align: super;
    overflow: hidden;
    width: 4rem;
}