.sign-section {
  text-align: center;
  .sign-title {
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 8rem;
  }
  .sign-form {
    display: grid;
    margin: 0 40% auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
    .sign-btn-section {
      padding-top: 1rem;
      .btn-primary {
        background-color: #ed2133;
        border-color: #ed2133;
        width: 100%;
      }
      .btn-primary:hover {
        cursor: pointer;
        background-color: #ed2353;
        border-color: #ed2353;
      }
    }

    .check-keep-section {
      width: 100%;
      .check-box-text {
        float: left;
        margin-top: 1rem;
      }
  
      .check-keep-login-box {
        float: right;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1rem;
      }
  
      .warning-text {
        margin-top: 0.5rem;
        text-align: left;
        float: left;
        color: orangered;
      }
    }
  }

  .loader{
    margin: 1rem auto;
  }

  .error {
    margin: 1rem auto;
  }
}
