.user-page-main-section {
  li {
    list-style-type: none;
  }

  .user-banner-section {
    height: 20rem;
    .user-banner-img {
      width: 100%;
      height: 100%;
    }
  }

  .user-header-section {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    background: $grey;
    .log-img {
      border-radius: 100%;
      display: inline-block;
    }
    .uid-text {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: 100;
    }
    .username-text {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 1rem;
    }
  }

  .left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    .left-menu {
      margin-right: 1rem;
      .userInfo-table {
        font-size: 1.5rem;
        min-width: 30rem;
        border: 1px solid $grey;
        border-radius: 4px;
        td {
          padding: 0.5rem 1rem 0.5rem 1rem;
          text-align: left;
          border-bottom: 1px solid $grey;
        }
        .title-td {
          font-weight: 500;
        }
        .text-td {
          font-weight: 100;
        }
        .bio-text {
          white-space: pre;
        }
      }
    }
  
    .right-grid-display {
      width: 100%;
      border: 1px solid $grey;
      border-radius: 4px;
      margin-left: 1rem;
      &-menu {
        margin-left: 0;
        .big-menu-text {
          font-size: 1.5rem;
          display: inline-block;
          font-weight: 500;
          margin-top: 1rem;
          cursor: pointer; 
          margin-inline-end: 1rem;
        }
      }

      &-list {
        vertical-align: top;
        display: inline-block;
      }
      .user-menu-items {
        font-size: 1.5rem;
        margin-inline-end: 1rem;
        display: inline;
        font-weight: 300;
      }
      .user-menu-items:hover {
        cursor: pointer;
        color: orangered;
      }
      .user-menu-items-empty {
        font-weight: 100;
      }
      .selectedItem {
        color: orangered;
      }
      
      .grid-info {
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.5rem;
        .title-td {
          font-weight: 500;
        }
        .text-td {
          font-weight: 300;
          padding-right: 1rem;
        }
      }
    }
  }
}