@import "components/accessories/comment/Comment";
@import "components/accessories/videoGrid/VideoGrid";
@import "components/accessories/VideoPlayer";
@import "components/accessories/Pagination";
@import "components/accessories/Tag";
@import "components/layout/Header";
@import "components/pages/DonatePage";
@import "components/pages/HomePage";
@import "components/pages/SignPage";
@import "components/pages/VideoPage";
@import "components/pages/UserPage";
@import "components/pages/AboutPage";

body {
  background: #0d0d0d;
  color: #d9d9d9;
}

//我在tobyX的工作结晶，用于addbtn
.add-btn{
  float: left;
  clear: both;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-left: 1rem;
  .add-icon{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: #ECAA03;
    color: #fff;
  }
  .add-icon:hover {
    cursor: pointer;
    background-color: #dc9e04;
  }
}

//用于所有的pop窗口
.showDialog {
  background: rgba(0,0,0,.65);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10100;
  padding-top: 40%;
  .modal-content {
    background-color: whitesmoke;
    color: black;
    opacity: 0.8;
    font-weight: 600;
  }
}

.notShowDialog {
  display: none;
}