.pagination {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  width: 10rem;
  list-style: none;
  padding-bottom: 1rem;
  .currPage-index-text {
    font-size: 1.1rem;
  }

  .index-text{
    font-size: 1rem;
    padding-right: 1rem;
  }
  .index-text:hover {
    cursor: pointer;
    color: #888;
  }
}