.user-avatar {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  vertical-align: top;
  margin-left: 1rem;
}
.user-avatar:hover {
  cursor: pointer;
}
.user-text {
  margin-left: 1rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1.1rem;
}
.user-text:hover {
  cursor: pointer;
}
