.App {
  text-align: center;
  background: #0d0d0d;
  min-height: 100vh;
  color: white;
}

.App-header {
  background-color: #1f1f1f;
  position: fixed;
  height: 3rem;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header-left {
  position: relative;
  top: 0.8rem;
  padding-left: 1rem;
}
.App-header-right {
  position: relative;
  top: 0.8rem;
  padding-right: 1rem;
}

.App-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
