

.sign-in-section, .sign-up-section {
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -100px;
  margin-top: -100px;
  width: 250px;
  height: 120px;
}

.sign-in-form, .sign-up-form{

}

.form-group {
  display: flex;
  justify-content: space-between;
}

.signin-btn-section, .signup-btn-section{
  display: flex;
  justify-content: center;
}

.badge {
  white-space: normal;
}

.loader{
  margin: 0 auto;
  width: 50px;
}
