.sign-section {
    text-align: center;
}

.sign-section .sign-title {
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 8rem;
}

.sign-section .sign-form {
    display: grid;
    margin: 0 40% auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

@media screen and (max-width: 450px) {
    .sign-section .sign-form {
        display: grid;
        margin: 0;
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
}


.sign-section .sign-form .sign-btn-section {
    padding-top: 1rem;
}

.sign-section .sign-form .sign-btn-section .btn-primary {
    background-color: #ed2133;
    border-color: #ed2133;
    width: 100%;
}

.sign-section .sign-form .sign-btn-section .btn-primary:hover {
    cursor: pointer;
    background-color: #ed2353;
    border-color: #ed2353;
}

.sign-section .sign-form .check-keep-section {
    width: 100%;
}

.sign-section .sign-form .check-keep-section .check-box-text {
    float: left;
    margin-top: 1rem;
}

.sign-section .sign-form .check-keep-section .check-keep-login-box {
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.sign-section .sign-form .check-keep-section .warning-text {
    margin-top: 0.5rem;
    text-align: left;
    float: left;
    color: orangered;
}

.sign-section .loader {
    margin: 1rem auto;
}

.sign-section .error {
    margin: 1rem auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}



