.comment-section {
  border: 1px solid #313131;
  border-radius: 4px;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-right: 5rem;
  padding-bottom: 4rem;
  .comment-write-block-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    a {
      color: red;
      margin-left: 1rem;
    }
    a:hover {
      text-decoration: none;
      background: yellow;
    }

    .comment-box{
      .comment-content {
        width: 90%;
        height: 2rem;
        display: inline-block;
      }
      .comment-btn {
        width: 4rem;
        height: 2rem;
        padding: 0 0;
        display: inline-block;
      }
    }
  } 
  .comment-grid-section {
    .comment-list-section {
      .comment-block-section {
        .reply-btn {
          font-weight: 500;

        }
        .reply-btn:hover {
          cursor: pointer;
          color: gray;
        }
        .reply-arro {
          font-weight: 500;
          size: 0.7rem;
        }
        .reply-arro:hover {
          cursor: pointer;
          color: gray;
        }
        margin-bottom: 1rem;
        margin-top: 1rem;
        .comment-user-avatar {
          border-radius: 100%;
          height: 3rem;
          width: 3rem;
          display: inline-block;
          vertical-align: top;
          margin-left: 1rem;
        }
        .comment-user-avatar:hover {
          cursor: pointer;
        }
        .comment-user-text {
          margin-left: 1rem;
          display: inline-block;
          font-weight: 500;
          font-size: 1.1rem;
        }
        .comment-user-text:hover {
          cursor: pointer;
        }
        .comment-public-date {
          margin-left: 1rem;
          display: inline-block;
          color: gray;
          font-size: 0.8rem;
          font-weight: 300;
        }
        .comment-text {
          margin-left: 5rem;
          color: orangered;
          line-height: 2rem;
          font-weight: 400;
        }
        .reply-input-section {
          margin-left: 5rem;
          font-weight: 600;
        }
      }

      .comment-reply {
        margin-left: 2rem;
        p{
          font-weight: 300;
          font-style: italic;
          display: inline;
          margin-right: 1rem;
        }
        p:hover {
          cursor: pointer;
        }
      }

    }
  }

}
