.user-page-main-section {
  padding-top: 3rem;
  li {
    list-style-type: none;
  }
  .user-header-section {
    margin-left: 7rem;
    background: maroon;
    padding-top: 1rem;
    margin-right: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    .uid-text {
      display: block;
      font-size: 1.5rem;
    }
    .username-text {
      font-size: 1.5rem;
    }
  }

  .left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    .left-menu {
      display: flex;
      margin-left: 7rem;
      border: 0.1rem solid #313131;
      border-radius: 4px;
      padding-right: 2rem;
      padding-bottom: 1rem;
      .user-history-menu {
        .user-menu-items {
          display: block;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-top: 1rem;
          font-size: 1.1rem;
        }
        .user-menu-items:hover {
          cursor: pointer;
          color: orangered;
        }
        .selectedItem {
          color: orangered;
        }
      }
      .big-menu-text {
        font-size: 1.4rem;
        font-weight: 800; 
        margin-top: 2rem; 
      }
    }
  
    .right-grid-display {
      width: 100%;
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      .grid-info {
        margin-left: 2.5rem;
        .title-td {
          font-size: 2rem;
          font-weight: 500;
        }
        .text-td {
          font-size: 1rem;
          padding-right: 0.7rem;
        }
      }
    }
  }
}