.filter-selecter-section {
  margin: 1rem 4rem;
  .select-section {
    margin-left: 1rem;
    color: #d9d9d9;
    background: #0d0d0d;
    border: #0d0d0d;
  }
  .select-section:visited {
    outline: none;
  }
}