.about-us-page {
    text-align: left;
}

.about-us-container {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    border-bottom: 1px solid #333;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1f1f1f;
}

li {
    margin: 0.9rem;
    font-size: 1.3rem;
}

section {
    padding-left: 3rem;
    border-bottom: 1px solid #333;
    padding-bottom: 3rem;
    padding-block-start: 1rem;
}

p {
    color: orangered;
    display: inline;
}

p:hover {
    cursor: pointer;
}

a {
    color: blue;
}

a:hover {
    color: blueviolet;
}

.title-text {
    text-align: center;
    font-weight: 800;
}

.foot-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 1rem;
}


.comment-container {
    border: 1px solid #313131;
    border-radius: 4px;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-right: 5rem;
    padding-bottom: 4rem;
}

.comment-write-block-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.comment-write-block-section a {
    color: white;
    margin-left: 1rem;
}
.comment-write-block-section a:hover {
    text-decoration: none;
    background: red;
}
.comment-write-block-section .comment-box .comment-content {
    width: 90%;
    height: 2rem;
    display: inline-block;
}
.comment-write-block-section .comment-box .comment-btn {
    width: 4rem;
    height: 2rem;
    padding: 0 0;
    display: inline-block;
}

