.video-grid-container {
  box-sizing: border-box;
  padding-bottom: 5rem;
  .loader {
    margin: 1rem auto;
    width: 6.25rem;
  }

  .error-text-section {
    text-align: center;
  }

  .search-keyword-display {
    font-size: 2rem;
    margin: 1rem 4rem;
  }

  .filter-selecter-section {
    margin: 1rem 4rem;
    .select-section {
      color: #d9d9d9;
      background: #0d0d0d;
      border: #0d0d0d;
    }
    .select-section:visited {
      outline: none;
    }
  }

  .video-blocks-section {
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .video-block-section{
      padding-top: 1rem;
      padding-bottom: 1rem;
      .video-title-section {
        font-size: 1rem;
        line-height: 1.1rem;
        word-break: break-word;
        width: 13rem;
      }
      
      .video-view-num-section {
        font-size: .8rem;
        color: #888;
      }
    }
    .video-block-section:hover {
      cursor: pointer;
    }

  }

  .pagination {
    margin: 0 auto;
    display: flex;
    width: 10rem;
    list-style: none;
    padding-bottom: 1rem;
    .currPage-index-text {
      font-size: 1.1rem;
    }

    .index-text{
      font-size: 1rem;
      padding-right: 1rem;
    }
    .index-text:hover {
      cursor: pointer;
      color: #888;
    }
  }
}
 