.video-page-main-section {
  padding-top:10rem;
  .video-player-section{
    border: 1px solid #313131;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    max-width: 75rem;
    margin-left: 5rem;
    margin-top: 5rem;
    .video-info-section {
      .video-title {
        background-color: #313131;
        .video-action-action {
          display: inline;
          padding-right: 1rem;
        } 
        .video-action-action:hover{
          cursor: pointer;
        }
        
        .actioned {
          color: orange;
        }
      } 
    }
  }
  
}
