.video-page-main-section {
  padding-top: 3rem;
  .video-player-section{
    border: 1px solid #313131;
    border-radius: 4px;
    padding-bottom: 20px;
    position: relative;
    max-width: 80rem;
    margin-left: 5rem;
    margin-top: 5rem;
    .videos-player{
      position: relative;
      max-width: 80rem;
      max-height: 50rem;
      margin: 0.5rem;
    }

    .video-info-section {
      .video-title {
        background-color: #313131;
        .video-action-action {
          display: inline;
          padding-right: 1rem;
        } 
        .video-action-action:hover{
          cursor: pointer;
        }
        
        .actioned {
          color: orange;
        }
      }
      
      .video-little-title-sectiton {
        .num {
          display: inline-block;
        }
      }
    }
  }
  .comment-write-block-section{
    margin-top: 2rem;
    padding-left: 5rem;
    a {
      color: #ed2133;
      margin-left: 1rem;
    }
    a:hover {
      text-decoration: none;
      color: red;
    }

    .comment-box{
      .comment-content {
        width: 90%;
        height: 2rem;
        display: inline-block;
      }
      .comment-btn {
        width: 4rem;
        height: 2rem;
        padding: 0 0;
        display: inline-block;
      }
    }
  } 
}
