.user-page-main-section {
  li {
    list-style-type: none;
  }

  .user-banner-section {
    height: 20rem;
    .user-banner-img {
      width: 100%;
      height: 100%;
    }
  }

  .user-header-section {
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    background: $grey;
    .log-img {
      border-radius: 100%;
      display: inline-block;
    }
    .uid-text {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: 100;
    }
    .username-text {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: 1rem;
    }
  }

  .userInfo-table {
    font-size: 2rem;
    margin-top: 1rem;
    min-width: 30rem;
    border: 0.3rem solid $grey;
    border-radius: 4px;
    th {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      text-align: left;
    }
    .bio-text {
      white-space: pre;
    }
  }

  .left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    border: 0.3rem solid $grey;
    .left-menu {
      display: flex;
      margin-left: 7rem;
      border-right: 0.3rem solid $grey;
      border-radius: 4px;
      padding-right: 2rem;
      padding-bottom: 10rem;
      .user-history-menu {
        .user-menu-items {
          display: block;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-top: 1rem;
          font-size: 1.1rem;
        }
        .user-menu-items:hover {
          cursor: pointer;
          color: orangered;
        }
        .selectedItem {
          color: orangered;
        }
      }
      .big-menu-text {
        font-size: 1.4rem;
        font-weight: 800; 
        margin-top: 2rem; 
      }
    }
  
    .right-grid-display {
      width: 100%;
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      .grid-info {
        margin-left: 2.5rem;
        .title-td {
          font-size: 2rem;
          font-weight: 500;
        }
        .text-td {
          font-size: 1rem;
          padding-right: 0.7rem;
        }
      }
    }
  }
}