.danmu-canvas-section {
    position: absolute;
    width: 100%;
    height: 100%;
}
.not-display {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}
.dan-input {
    height: 2.3rem;
    vertical-align: top;
    margin-left: 1rem;
    padding-left: 1rem;
    width: 40rem;
    opacity: 0.9;
}
.vjs-dan-switch {
    color: red;
    margin-left: 2rem;
    border-radius: 1rem;
}
.vjs-dan-switch:hover {
    cursor: pointer;
    font-weight: 1000;
}
.vjs-dan-btn {
    margin-left: 39rem;
    width: 3rem;
    border-radius: 1rem;
}
.vjs-dan-btn:hover {
    cursor: pointer;
}

