.comment-section {
  border: 1px solid #313131;
  border-radius: 4px;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-right: 5rem;
  padding-bottom: 4rem;
  width: 65rem;
  .comment-write-block-section{
    margin-top: 1rem;
    a {
      color: #ed2133;
      margin-left: 1rem;
    }
    a:hover {
      text-decoration: none;
      color: red;
    }

    .comment-box{
      padding-bottom: 2rem;
      .comment-content {
        width: 90%;
        height: 2rem;
        display: inline-block;
      }
      .comment-btn {
        width: 4rem;
        height: 2rem;
        padding: 0 0;
        display: inline-block;
      }
    }
  } 

  .comment-grid-section {
    .comment-list-section {
      .comment-block-section {
        margin-bottom: 1rem;
        margin-top: 1rem;
        .comment-user-text {
          margin-left: 1rem;
          display: inline-block;
          font-weight: 700;
          font-size: 1.1rem;
        }
        .comment-public-date {
          margin-left: 1rem;
          display: inline-block;
          color: gray;
          font-size: 0.8rem;
          font-weight: 300;
        }
        .comment-text {
          margin-left: 1.4rem;
          color: orangered;
          line-height: 2rem;
          font-weight: 400;
        }
      }
    }
  }

}
