

.video-player-section{
  border: 1px solid #313131;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
  max-width: 75rem;
  margin-left: 5rem;
  margin-top: 5rem;
  .video-info-section {
    .video-title {
      background-color: #313131;
      .video-action-action {
        display: inline;
        padding-right: 1rem;
      } 
      .video-action-action:hover{
        cursor: pointer;
      }
      
      .actioned {
        color: orange;
      }
    } 
  }
}

.comment-section {
  border: 1px solid #313131;
  border-radius: 4px;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-right: 5rem;
  padding-bottom: 4rem;
  width: 65rem;
  .comment-write-block-section{
    margin-top: 1rem;
    a {
      color: #ed2133;
    }
    a:hover {
      text-decoration: none;
      color: red;
    }

    .comment-box{
      padding-bottom: 2rem;
      .comment-content {
        width: 90%;
        height: 2rem;
        display: inline-block;
      }
      .comment-btn {
        width: 4rem;
        height: 2rem;
        padding: 0 0;
        display: inline-block;
      }
    }

  } 
}
